examples/rpi_input_deck/
examples/sasvw21/setup/assets/dakota
examples/sasvw21/setup/plots/
examples/sasvw21/input/*.nc
examples/sasvw21/output/*.nc
examples/sasvw21/output/positions.m
python/__pycache__/
*.DS_Store
*.pdf
*.png
*.swp
*.pyc
*.fig
