examples/rpi_input_deck/
examples/sasvw21/setup/assets/dakota
examples/sasvw21/setup/plots/
examples/sasvw-pa-fav/setup/plots/
examples/sasvw-pa-fav/setup/*.nc
examples/sasvw-pa-fav/setup/assets/*.nc
examples/sasvw-pa-fav-old/setup/plots/
examples/sasvw-pa-fav-old/setup/*.nc
examples/sasvw-pa-fav-old/setup/assets/*.nc
examples/sasvw21/input/*.nc
examples/sasvw-pa-fav/input/*.nc
examples/sasvw-pa-fav-old/input/*.nc
examples/sasvw21/output/*.nc
examples/sasvw-pa-fav/output/*.nc
examples/sasvw-pa-fav/output/surfaces/*
examples/sasvw-pa-fav-old/output/*.nc
examples/sasvw-pa-fav-old/output/surfaces/*
examples/sasvw21/output/plots/
examples/sasvw-pa-fav/output/plots/
examples/sasvw-pa-fav-old/output/plots/
python/__pycache__/
setup/__pycache__/
*.DS_Store
*.pdf
*.png
*.swp
*.pyc
*.fig
*.gif
*.nc
*:Zone.Identifier
examples/sasvw21/LcS.nc
